.caixatotal {
  color: white;
  background-image: url("../../public/estrelado2.avif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  margin: 25px 25px;
  background-color: rgba(119, 119, 112, 0.5);
  position: absolute;
  top: 100px;
  width: 80%;
  height: auto;
}
.caixaText {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 25px 25px;
  gap: 20px;
}

.caixaText img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}
.caixaText button {
  border-radius: 10px;
  padding: 15px 25px;
  font-weight: bold;
  cursor: pointer;
}
.caixaText button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}
.caixatitul {
  text-align: center;
  font-weight: bold;
}
.caixatitul span {
  font-size: 30px;
}
.caixatitul i {
  font-size: 50px;
  font-weight: bold;
}
.caixaLogin {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: 10px;
}
.caixaLogin span {
  font-size: 50px;
  font-weight: bold;
}
.caixaLogin p {
  font-size: 10px;
}
.top {
  font-weight: bold;
  font-size: 70px;
  padding: 25px;
  border-radius: 100%;
  background-color: white;
  color: black;
}
.caixabutto {
  display: flex;
  align-items: center;
  justify-content: center;
}
.caixabutto button {
  border-radius: 10px;
  padding: 15px 25px;
  font-weight: bold;
  cursor: pointer;
}
.caixabutto button i {
  font-size: 25px;
  font-weight: bold;
}
.caixabutto button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}
@media (max-width: 480px) {
  .caixatotal {
    width: 100%;
    min-height: 900px;
  }
  .login {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
  }
  .caixatitul {
    font-size: 20px;
  }
  .caixatitul span {
    font-size: 10px;
  }
  .caixatitul i {
    font-size: 20px;
  }
  .caixaText img {
    width: 150px;
    height: 100px;
    border-radius: 10px;
  }
  .top {
    font-size: 50px;
    padding: 15px;
  }
}
@media (max-width: 1024px) {
  .caixatotal {
    width: 100%;
    min-height: 1100px;
  }
  .login {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
  }
  .caixatitul {
    font-size: 20px;
  }
  .caixatitul span {
    font-size: 10px;
  }
  .caixatitul i {
    font-size: 20px;
  }
  .caixaText img {
    width: 150px;
    height: auto;
    border-radius: 10px;
  }
  .top {
    font-size: 50px;
    padding: 15px;
  }
}
